html {
  @apply scroll-smooth text-base;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  @apply bg-body font-primary text-dark overflow-x-hidden bg-[url('/images/body-bg.svg')] bg-repeat leading-relaxed font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary text-text-dark leading-tight font-bold;
}

h1 {
  @apply text-h1-sm md:text-h1;
}

h2 {
  @apply text-h2-sm md:text-h2;
}

h3 {
  @apply text-h3-sm md:text-h3;
}

h4 {
  @apply text-h4;
}

h5 {
  @apply text-h5;
}

h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}
code {
  @apply after:border-none;
}

a {
  @apply cursor-pointer font-medium hover:underline;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translate(0);
  } /* quieto */
  5% {
    transform: translate(-4px, 0);
  }
  10% {
    transform: translate(4px, 0);
  }
  15% {
    transform: translate(-4px, 0);
  }
  20% {
    transform: translate(4px, 0);
  } /* termina vibración */
  /* 20%-100% vuelve al estado quieto */
}

.button-vibrate {
  animation: vibrate 2s linear infinite;

  &:hover {
    animation: none;
  }
}

:root {
  --header-height: theme('spacing.16');
}

@variant lg {
  :root {
    --header-height: theme('spacing.20');
  }
}
