@layer theme, base, ourBase, mantine, components, ourComponents, utilities;

@import 'tailwindcss';
@import '@notifycal/shared/styles';

@theme {
  --leading-tight: 1;
  --radius-sm: 0.25rem;
  --font-weight-normal: 400;

  --color-primary: var(--color-primary-500);
  --color-secondary: var(--color-secondary-500);
  --color-body: var(--color-background);
  --color-border: var(--color-neutral-200);
  --color-light: var(--color-neutral-300);
  --color-dark: var(--color-neutral-800);
  --color-text: var(--color-text-secondary);
  --color-text-dark: var(--color-text-primary);
  --color-text-light: var(--color-neutral-300);
  --color-transparent: transparent;
}

@plugin "../tailwind-plugin/tw-bs-grid";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import '@mantine/core/styles.layer.css';
@source "../../node_modules/@notifycal/shared";

@import './safe.css';
@import './utilities.css';

@layer ourBase {
  @import './base.css';
}

@layer ourComponents {
  @import './components.css';
  @import './navigation.css';
  @import './buttons.css';
}

@import 'swiper/css';
@import 'swiper/css/autoplay';
@import 'swiper/css/pagination';
