@layer theme, base, ourBase, mantine, components, ourComponents, utilities;

@import 'tailwindcss';
@import '@notifycal/shared/styles';

@theme {
  --leading-tight: 1;
  --radius-sm: 0.25rem;
  --font-weight-normal: 400;

  --color-primary: var(--color-primary-500);
  --color-secondary: var(--color-secondary-500);
  --color-body: #fafafa;
  --color-border: #ebebeb;
  --color-light: #e5e5e5;
  --color-dark: #1a202c;
  --color-text: #888888;
  --color-text-dark: #222;
  --color-text-light: #ceced0;
  --color-transparent: transparent;
}

@plugin "../tailwind-plugin/tw-bs-grid";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import '@mantine/core/styles.layer.css';
@source "../../node_modules/@notifycal/shared";

@import './safe.css';
@import './utilities.css';

@layer ourBase {
  @import './base.css';
}

@layer ourComponents {
  @import './components.css';
  @import './navigation.css';
  @import './buttons.css';
}
